@import '~@angular/material/theming';
@import '_bootstrapGrid';
@import '_genericStyles';

@include mat-core();

// default theme:
$primary: mat-palette($mat-grey, 200);
$accent: mat-palette($mat-grey, 900);
$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

// "dark" theme
$dark-primary: mat-palette($mat-grey, 900);
$dark-accent: mat-palette($mat-grey, 200);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent);

.darkTheme {
  @include angular-material-theme($dark-theme);
}